body{
    width: 100%;
    height: 100vh;
    background-image: url(/Images/help.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo{
    font-size: 2em;
    color: #fff;
    user-select: none;
    height: 80px;
    width:100px;
    border-radius: 50%;
}

ul{
    float: right;
    margin: 20px;
}

ul li a{
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
}

ul li a:hover{
    color: crimson;
}

.log-sign-container{
    width: 100px;
    height: 30px;
    text-align: center;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
}

h1,h6{
    align-items: center;
    text-align: center;
    margin-top: 100px;
    padding: 20px;
}

p a{
    text-decoration: none;
    color: black;
}

p{
    font-size: 24px;
    margin: 60px;
    padding:45px;
    height: 200px;
    width: 200px;
    background:white;
    font-weight: 500;
}